aliyun-python-sdk-core==2.13.30
aliyun-python-sdk-kms==2.14.0
build==0.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
crcmod==1.7
cryptography==3.2.1
idna==2.10
jmespath==0.10.0
myimage==0.0.6
oss2==2.14.0
packaging==20.9
pep517==0.9.1
pycparser==2.20
pycryptodome==3.10.1
pyparsing==2.4.7
qiniu==7.3.1
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.3
